.modal.authorizing .modal-body{height:11rem;text-align:center;}
.modal.authorizing .modal-body img{margin-bottom:1rem}
#zvelonet{max-width:1170px;margin-right:auto;margin-left:auto;-webkit-border-radius:6px;border-radius:6px}
#zvelonet input,#zvelonet label,#zvelonet .lead{font-size:2rem;line-height:2.5rem}
#zvelonet .inner-container{border:1px solid #e5e5e5;-webkit-border-radius:6px;border-radius:6px;background-color:#fff;padding:1rem}
#zvelonet .controls{text-align:center;padding-top:1rem;}
#zvelonet .controls .btn{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
#zvelonet div.lookup{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#zvelonet div.lookup > *{display:table-cell}
#zvelonet div.lookup *{margin:0;padding:0;vertical-align:baseline}
#zvelonet div.lookup label{color:#333;cursor:default}
#zvelonet div.lookup span:last-child{width:100%}
#zvelonet div.lookup input{height:100%;width:100%;color:#333;-webkit-box-shadow:none;box-shadow:none;border:0;background-color:transparent}
#zvelonet div.lookup input::-webkit-input-placeholder{color:#d5d5d5;}
#zvelonet div.lookup input:-moz-placeholder{color:#d5d5d5;}
#zvelonet div.lookup input::-moz-placeholder{color:#d5d5d5;}
#zvelonet div.lookup input:-ms-input-placeholder{color:#d5d5d5;}
#zvelonet .category{max-width:100%;white-space:nowrap;display:inline-block}
#zvelonet .reputation{position:relative}
#zvelonet .reputation .img{position:absolute;top:0;bottom:0;left:0;right:0;-webkit-background-size:100% auto;-moz-background-size:100% auto;background-size:100% auto;background-position:top right;background-repeat:no-repeat}
#zvelonet .reputation .aspect{padding-top:98.34368530020703%}
#zvelonet .reputation p{width:85%;text-align:center;border:1px solid #000;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;padding:.25rem;margin-top:.25rem}
#zvelonet .reputation .reputation700{background-image:url("../img/zvelo-no-known-risk-a.png")}
#zvelonet .reputation .reputation701{background-image:url("../img/zvelo-possible-risk-a.png")}
#zvelonet .reputation .reputation702{background-image:url("../img/zvelo-medium-risk-a.png")}
#zvelonet .reputation .reputation703{background-image:url("../img/zvelo-high-risk-a.png")}
#zvelonet .url{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
#zvelonet select{background:transparent;padding:.5rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:0;height:auto;width:auto;font-size:1.2rem}
