.modal.authorizing .modal-body{height:208px;text-align:center;}
.modal.authorizing .modal-body img{margin-top:16px;margin-bottom:16px}
#zvelonet{font-size:16px;max-width:940px;margin-right:auto;margin-left:auto;}
#zvelonet,#zvelonet *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#zvelonet input,#zvelonet label,#zvelonet .lead{font-size:32px;line-height:40px}
#zvelonet .inner-container{border:1px solid #e5e5e5;-webkit-border-radius:6px;border-radius:6px;background-color:#fff;padding:16px}
#zvelonet .controls{text-align:center;padding-top:16px;}
#zvelonet .controls .btn{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;margin-bottom:16px}
#zvelonet div.lookup{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#zvelonet div.lookup > *{display:table-cell}
#zvelonet div.lookup *{margin:0;padding:0;vertical-align:baseline}
#zvelonet div.lookup label{color:#333;cursor:default}
#zvelonet div.lookup span:last-child{width:100%}
#zvelonet div.lookup input{height:100%;width:100%;color:#333;-webkit-box-shadow:none;box-shadow:none;border:0;background-color:transparent}
#zvelonet div.lookup input::-webkit-input-placeholder{color:#d5d5d5;}
#zvelonet div.lookup input:-moz-placeholder{color:#d5d5d5;}
#zvelonet div.lookup input::-moz-placeholder{color:#d5d5d5;}
#zvelonet div.lookup input:-ms-input-placeholder{color:#d5d5d5;}
#zvelonet .category:before{position:absolute;top:0;left:0;content:" ";width:0;height:0;border-top:18.4px solid transparent;border-bottom:18.4px solid transparent;border-left:18.4px solid #fff}
#zvelonet .category:after{position:absolute;top:0;right:0;content:" ";width:0;height:0;border-top:18.4px solid #fff;border-bottom:18.4px solid #fff;border-left:18.4px solid transparent}
#zvelonet .category{position:relative;max-width:100%;white-space:nowrap;display:inline-block;color:#fff;background:#333;padding:8px 32px 8px 32px;line-height:20.8px;font-weight:200;text-transform:uppercase;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;cursor:default;margin-bottom:16px}
#zvelonet .reputation .reputation-img-container{position:relative;max-width:160px}
#zvelonet .reputation .reputation-img-container,#zvelonet .reputation p{margin-left:auto;}
@media (max-width: 767px){#zvelonet .reputation .reputation-img-container,#zvelonet .reputation p{margin-right:auto}
}#zvelonet .reputation .img{position:absolute;top:0;bottom:0;left:0;right:0;-webkit-background-size:100% auto;-moz-background-size:100% auto;background-size:100% auto;background-position:top right;background-repeat:no-repeat}
#zvelonet .reputation .aspect{padding-top:98.34368530020703%}
#zvelonet .reputation p{width:85%;text-align:center;border:1px solid #d5d5d5;background:#e5e5e5;-webkit-border-radius:6px;border-radius:6px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;padding:8px;margin-top:8px;margin-bottom:0;text-shadow:0 -1px 0 rgba(0,0,0,0.25);cursor:default;font-size:16px}
#zvelonet .reputation.reputation700 .img{background-image:url("../img/zvelo-no-known-risk-a.png")}
#zvelonet .reputation.reputation701 .img{background-image:url("../img/zvelo-possible-risk-a.png")}
#zvelonet .reputation.reputation702 .img{background-image:url("../img/zvelo-medium-risk-a.png")}
#zvelonet .reputation.reputation703 .img{background-image:url("../img/zvelo-high-risk-a.png")}
#zvelonet .url{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;margin-bottom:16px;cursor:default}
#zvelonet select{background:transparent;padding:8px;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:0;height:auto;width:auto;font-size:19.2px}
