<form>
  <div class="lookup inner-container">
    <span>
      <label for="zvelo-url-input">http://</label>
    </span>
    <span class="remaining">
      <input type="text"
             id="zvelo-url-input"
             title="Enter a URL to lookup its categorization"
             placeholder="zvelo.com (just start typing&hellip;)"
             autocomplete="off"
             spellcheck="false">
    </span>
  </div>
  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">Lookup</button>
  </div>
</form>
