<form>
  <input type="text"
         class="input-block-level"
         placeholder="http://zvelo.com"
         autocomplete="off"
         spellcheck="false">
  <button type="submit" class="btn btn-large btn-primary">Lookup</button>
</form>
