<div class="modal">
  <div class="modal-header">
    {{#if close}}
    <button type="button" class="close">×</button>
    {{/if}}

    <h3>{{header}}</h3>
  </div>
  <div class="modal-body">
    <p>{{body}}</p>
  </div>
  <div class="modal-footer">
    {{#if close}}
    <button class="btn">Close</button>
    {{/if}}

    {{#if btn}}
    <button class="btn btn-primary">{{btn}}</button>
    {{/if}}
  </div>
</div>
