<form>
  <div class="inner-container">
    <p class="lead url">{{url}}</p>

    <div class="categories">
      <select>
        <option value="">-- Suggest a Category --</option>
        {{#each categories}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="controls">
    <button type="submit" class="btn btn-large btn-danger report">Report Miscategorization</button>
    <button type="button" class="btn btn-large btn-primary lookup">Return to Lookup</button>
  </div>
</form>
