<div class="left">
  <p class="lead url">{{url}}</p>

  <div class="categories">
    <ul class="inline">
      {{#each categories}}
      <li><span class="btn btn-large btn-inverse category" disabled>{{this}}</span></li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="right reputation {{reputationId}}">
  <p>{{reputation}}</p>
</div>

<div class="clearfix"></div>

<div class="controls">
  <button class="btn btn-primary lookup">Lookup Another</button>
  <button class="btn btn-warning report">Report Miscategorization</button>
</div>
