<p class="lead url">{{url}}</p>
<div class="reputation {{reputationId}}">
  <p>{{reputation}}</p>
</div>
<ul class="inline categories">
  {{#each categories}}
  <li class="category">{{this}}</li>
  {{/each}}
</ul>
<button type="submit" class="btn btn-large btn-primary">Lookup Another</button>
