<p class="lead url">{{url}}</p>

<p class="uncategorized">
This URL has not yet been categorized. It has been submitted for classification.
</p>

<div class="controls">
  <button class="btn btn-primary lookup">Lookup Another</button>
</div>
