@import "nib"

body
  padding 2rem
  background-color #f5f5f5

#zvelonet
  border 1px solid #e5e5e5
  background-color #fff
  max-width 960px
  margin 0 auto
  padding 2rem
  border-radius 5px

  form
    margin 0

  h2
    margin 0 0 1rem

  input
    margin-bottom 1rem

.modal
  opacity 0
  transition: opacity 0.3s linear, top 0.3s ease-out

  &.in
    opacity 1
