$line-height = 1.3rem
$vertical-padding = 0.5rem
$category-height = $line-height + 2 * $vertical-padding

.category:before
  position absolute
  top 0
  left 0
  content " "
  width 0
  height 0
  border-top    ($category-height / 2) solid transparent
  border-bottom ($category-height / 2) solid transparent
  border-left   ($category-height / 2) solid white  // TODO(jrubin)

.category:after
  position absolute
  top 0
  right 0
  content " "
  width 0
  height 0
  border-top    ($category-height / 2) solid white
  border-bottom ($category-height / 2) solid white
  border-left   ($category-height / 2) solid transparent  // TODO(jrubin)

.category
  position relative
  max-width 100%
  white-space nowrap
  display inline-block
  color white  // TODO(jrubin)
  background $fontColor
  padding $vertical-padding 2rem $vertical-padding 2rem
  line-height $line-height
  font-weight 200
  text-transform uppercase
  overflow ellipsis
  cursor default
  margin-bottom 1rem
