@import "nib"

body
  padding 2rem
  background-color #f5f5f5

#zvelonet
  position relative
  border 1px solid #e5e5e5
  background-color #fff
  padding 2rem
  border-radius 5px

  form
    margin 0

  $url-font-size   =   2rem
  $url-line-height = 2.2rem

  .url,
  .categories
    margin 0 0 1rem

  .url
    font-size $url-font-size
    line-height $url-line-height

  input
    margin-bottom 1rem
    border 0
    padding 0
    box-shadow none
    font-size $url-font-size
    line-height $url-line-height
    height auto

  ul li:first-child
    padding-left 0

  .reputation
    position absolute
    padding @padding
    top 0
    right 0

  select
    background transparent
    padding 0.5rem
    appearance none
    border-radius 0
    // border 0
    height auto
    width auto
    font-size 1.2rem
