@import "../public/css/vendor/bootstrap.css"
@import "../public/css/vendor/bootstrap-responsive.css"
@import "nib"

body
  padding 2rem
  background-color #f5f5f5

#zvelonet
  max-width 1170px
  margin-right auto
  margin-left auto
  border 1px solid #e5e5e5
  background-color #fff
  padding 2rem
  border-radius 5px

  form
    margin 0

  $url-font-size   =   2rem
  $url-line-height = 2.5rem

  .categories,
  .controls
    margin-top 1rem

  .btn
    margin-top 0.5rem

  .controls .btn
    overflow: ellipsis

  .left
    float left

  .right
    float right

  .url
    overflow ellipsis
    font-size $url-font-size
    line-height $url-line-height

  input
    margin-bottom 1rem
    border 0
    padding 0
    box-shadow none
    font-size $url-font-size
    line-height $url-line-height
    height auto

  ul li:first-child
    padding-left 0

  .clearfix
    clearfix()

  select
    background transparent
    padding 0.5rem
    appearance none
    border-radius 0
    // border 0
    height auto
    width auto
    font-size 1.2rem

.modal.authorizing
  .modal-body
    height 11rem
    text-align center

    img
      margin-bottom 1rem
