form
  margin 0 0 $baseLineHeight

/*
label,
input,
button,
select
textarea
  font-size $baseFontSize
  font-weight normal
  line-height $baseLineHeight

textarea,
*/
input,
button,
select
  font-family $baseFontFamily

/*
label
  display block
*/

/*
textarea,
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
*/
input[type="text"]
  &:focus
    outline 0
