div.lookup
  width 100%
  box-sizing border-box
  // border 1px solid $border
  // border-radius 6px
  // padding 0.5rem

  & > *
    display table-cell

  & *
    margin 0
    padding 0
    vertical-align baseline

  label
    color $textColor
    cursor default

  span.remaining
    width 100%

  $placeholderColor = $medium

  input
    placeholder(color $placeholderColor,)
    height 100%
    width 100%
    color $textColor
    box-shadow none
    border 0
    background-color transparent

    &.placeholdersjs
      color $placeholderColor
