&
  position relative

.img
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-size 100% auto
  background-position top right
  background-repeat no-repeat

.aspect
  $aspect-ratio = 483 / 475
  padding-top (100% / $aspect-ratio)

p
  width 85%
  text-align center
  border 1px solid black
  overflow ellipsis
  padding 0.25rem
  margin-top 0.25rem

.reputation700
  background-image url("../img/zvelo-no-known-risk-a.png")

.reputation701
  background-image url("../img/zvelo-possible-risk-a.png")

.reputation702
  background-image url("../img/zvelo-medium-risk-a.png")

.reputation703
  background-image url("../img/zvelo-high-risk-a.png")
