.reputation-img-container
  position relative
  max-width 10rem


.reputation-img-container,
p
  margin-left auto

  @media (max-width: 767px)
    margin-right auto

.img
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-size 100% auto
  background-position top right
  background-repeat no-repeat

.aspect
  $aspect-ratio = 483 / 475
  padding-top (100% / $aspect-ratio)

p
  width 85%
  text-align center
  border 1px solid $medium
  background $light
  border-radius 6px
  overflow ellipsis
  padding 0.5rem
  margin-top 0.5rem
  margin-bottom 0
  font-weight 200
  text-shadow 0 -1px 0 rgba(0,0,0,0.25)
  cursor default

&.reputation700 .img
  background-image url("../img/zvelo-no-known-risk-a.png")

&.reputation701 .img
  background-image url("../img/zvelo-possible-risk-a.png")

&.reputation702 .img
  background-image url("../img/zvelo-medium-risk-a.png")

&.reputation703 .img
  background-image url("../img/zvelo-high-risk-a.png")
