&
  max-width 1170px
  margin-right auto
  margin-left auto
  // border 1px solid $light
  // background-color #fff
  // padding 2rem
  border-radius 6px

@import "fonts"
@import "modal"
@import "inner-container"
@import "controls"
@import "lookup"
@import "result"
@import "report"
