&
  max-width 940px
  margin-right auto
  margin-left auto
  // border 1px solid $light
  // background-color #fff
  // padding 2rem
  // border-radius 6px

  &, *
    box-sizing border-box

@import "fonts"
@import "inner-container"
@import "controls"
@import "lookup"
@import "result"
@import "report"
